# Ignore node_modules and package lock files
node_modules/
npm-debug.log

# Ignore build artifacts
.next/
out/
dist/

# Ignore unnecessary system files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore Git files
.git/
.gitignore

