@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  }
}

/* #0E0C07, #EEC232, #474848, #FFFBFE, #84A59D, #E8D7F1 */
*{
  scrollbar-width: thin; 
  scrollbar-color:  #242424 rgba(24, 0, 24, 0.507);
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #fb7c37
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
