.editable-table {
    background: transparent;
  }
  
  .editable-table .ant-table {
    background: transparent;
  }
  
  .editable-table .ant-table-thead > tr > th {
    background: transparent;
  }
  