@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans';
}

body {
  color: #111111;
  background: #FFF8F6;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

/* Hide scrollbar inside calendar cells */
.ant-picker-cell .ant-picker-cell-inner {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  overflow-y: auto;
  padding: 0;
  cursor: auto;
}

.ant-picker-cell .ant-picker-cell-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Make calendar cells taller */
.ant-picker-cell {
  min-height: 220px !important; /* Increase as needed */
  vertical-align: top;
}

/* Optional: Hide scrollbar but still scroll content */
.ant-picker-cell .ant-picker-cell-inner {
  max-height: 210px; /* Match or slightly less than cell height */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.ant-picker-cell .ant-picker-cell-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


