@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans';
}

body {
  color: #111111;
  background: #FFF8F6;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

.ant-picker-cell .ant-picker-cell-inner {
  scrollbar-width: none;
  -ms-overflow-style: none; 
  overflow-y: auto;
  padding: 0;
  cursor: auto;
}

.ant-picker-cell .ant-picker-cell-inner::-webkit-scrollbar {
  display: none;
}

.ant-picker-cell {
  min-height: 220px !important; 
  vertical-align: top;
}

.ant-picker-cell .ant-picker-cell-inner {
  max-height: 210px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ant-picker-cell .ant-picker-cell-inner::-webkit-scrollbar {
  display: none; 
}


